<!DOCTYPE html>
<html>
  <head>
      <% include ../nav/header.ejs %>
      <style>
          td {
              vertical-align: middle !important;
          }
      </style>
  </head>
  <body class="fixed-nav sidenav-toggled" id="page-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
          <% include ../nav/nav-admin.ejs %>
      </nav>
      <div class="container-fluid">
          <div class="card mb-3 mt-3">
              <div class="card-header"><h3>회원관리</h3></div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>구분</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>전화번호</th>
                        <th>나이</th>
                        <th>상태</th>
                        <th>관리</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(var i = 0; i < data.length; i++) { %>
                      <tr class="text-center">
                        <td><%= i + 1 %></td>
                        <td><%= (data[i].UserType == 'ER') ? '발주자' : '수주자' %></td>
                        <td><%= data[i].Name %></td>
                        <td><%= data[i].Email %></td>
                        <td><%= data[i].Tel %></td>
                        <td><%= age[i] %></td>
                        <td><%= (data[i].Status == '0') ? '가입대기' : '가입승인' %></td>
                        <td class="p-0">
                          <form action="/members/<%= data[i]._UID %>?_method=delete" method="post">
                            <input type="submit" class="btn btn-danger" value="삭제">
                          </form>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
      </div>
      <script>
          $("input[type=submit]").on('click', function(e) {
              var answer = confirm('정말로 삭제하시겠습니까?');
              if (!answer)
                e.preventDefault();
          });
      </script>
  </body>
</html>
