<!DOCTYPE html>
<html>
  <head>
      <% include ../config/header.ejs %>
      <style>
          tr, td {
              text-align: center;
              vertical-align: middle !important;
          }
      </style>
      <script>
          $(document).ready(function() {
              $("span:contains('회원관리')").parent().css('background', '#8491af');

              $(".card-body").on('click', 'button', function() {
                  if (confirm('정말로 삭제하시겠습니까?')) {
                    $.post("/admin/members?_method=DELETE", {uid: $(this).attr('id')});
                    $(this).parent().parent().remove();
                  }
              });
          });
      </script>
  </head>
  <body class="fixed-nav" id="page-top">
      <% include ../config/nav.ejs %>
      <div class="container-fluid">
          <div class="card mb-3 mt-3">
              <div class="card-header"><h3>회원관리</h3></div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                  <th>No.</th>
                                  <th>구분</th>
                                  <th>이름</th>
                                  <th>이메일</th>
                                  <th>전화번호</th>
                                  <th>나이</th>
                                  <th>상태</th>
                                  <th>관리</th>
                              </tr>
                          </thead>
                          <tbody>
                              <% for(var i = 0; i < data.length; i++) { %>
                              <tr>
                                  <td><%= i + 1 %></td>
                                  <td><%= (data[i].UserType == 'ER') ? '발주자' : '수주자' %></td>
                                  <td><%= data[i].Name %></td>
                                  <td><%= data[i].Email %></td>
                                  <td><%= data[i].Tel %></td>
                                  <td><%= age[i] %></td>
                                  <td><%= (data[i].Status == '0') ? '가입대기' : '가입승인' %></td>
                                  <td class="p-0"><button id="<%= data[i]._UID %>" class="btn btn-danger text-white">삭제</button></td>
                              </tr>
                              <% } %>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
