<!DOCTYPE html>
<html>
  <head>
      <% include ../config/header.ejs %>
      <script>
          $(document).ready(function() {
              $("#order").css('display', 'none');

              $("input[name=type]").change(function(e) {
                  if($(this).val() == "A") {
                      $("#user").css('display', 'block');
                      $("#order").css('display', 'none');
                  } else if ($(this).val() == "B") {
                      $("#user").css('display', 'none');
                      $("#order").css('display', 'block');
                  }
              });

              $("span:contains('통 계')").parent().css('background', '#8491af');
          });
      </script>
  </head>
  <body class="fixed-nav bg-header" id="page-top">
      <% include ../config/nav.ejs %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 mx-auto mt-3">
            <div class="card">
                <div class="card-body mx-auto">
                    <input type="radio" name="type" class="" value="A" checked> 회원 통계
                    <input type="radio" name="type" class="ml-3" value="B"> 외주 통계
                </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
            <div id="user" class="col-md-8 mx-auto">
                <div class="card mb-3">
                    <div class="card-header">
                      <i class="fa fa-pie-chart"></i> 가입 회원 통계
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <canvas id="myPieChart" width="100%" height="100%"></canvas>
                                <br><p style="text-align: center">수주자 : <%= user[0].cnt%> 명&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;발주자 : <%= user[1].cnt%> 명</p>
                            </div>
                            <div class="col-md-4 mx-auto">
                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <h3>오늘의 가입자</h3>
                                    </div>
                                    <div class="col-md-6 mx-auto">
                                        <p><%= d1[0].cnt %> 명</p>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <h3>이번달 가입자</h3>
                                    </div>
                                    <div class="col-md-6 mx-auto">
                                        <p><%= d2[0].cnt %> 명</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="order" class="col-md-8 mx-auto">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> 월별 외주 통계</div>
                    <div class="card-body">
                        <canvas id="myBarChart" width="100" height="46%"></canvas>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <p><b>총 발주 :</b> <%= orders[5] %> 건 </p>
                                </div>
                                <div class="col-md-3">
                                    <p><b>매칭 실패 :</b> <%= orders[4] %> 건 </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p><b>모집 중 :</b> <%= orders[0] %> 건 </p>
                                </div>
                                <div class="col-md-3">
                                    <p><b>매칭 중 :</b> <%= orders[1] %> 건 </p>
                                </div>
                                <div class="col-md-3">
                                    <p><b>매칭 완료 :</b> <%= orders[2] %> 건 </p>
                                </div>
                                <div class="col-md-3">
                                    <p><b>발주 완료 :</b> <%= orders[3] %> 건 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include charts.ejs %>
      </div>
  </body>
</html>
