<!DOCTYPE html>
<html>
<head>
    <% include ../nav/header.ejs %>
    <style>
      .row img {
          margin: 5px 10px;
          display: inline-block;
          width: 180px;
          height: 120px;
          border: solid 1px black;
      }
      .mRow {
          background-color: white;
          padding: 1rem;
          margin: 1rem auto;
          border: solid 2px #aaa;
      }
    </style>
    <script>
        $(document).ready(function() {
            $("#mImgs").on('click', 'img', function() {
                $("#lightBox").modal();
                $("#curImg").attr('src', $(this).attr('src'));
            });
        });
    </script>
</head>
<body class="fixed-nav bg-header" id="page-top">
    <% include ../nav/nav-login.ejs %>
    <div class="container-fluid">
       <% include ./notice.ejs %>
       <div class="row">
          <div class="col-md-5 mRow">
              <h2>회원정보</h2>
              <hr class="my-1 bg-dark">
              <div class="row my-3 ml-1">
                  <div class="col-md-3"><b>이메일</b><br></div>
                  <div class="col-md-6 mx-auto"><%= user.Email %></div>
              </div>
              <hr>
              <div class="row my-3 ml-1">
                  <div class="col-md-3"><b>이름</b><br></div>
                  <div class="col-md-6 mx-auto"><%= user.Name %></div>
              </div>
              <hr>
              <div class="row my-3 ml-1">
                  <div class="col-md-3"><b>생년월일</b><br></div>
                  <div class="col-md-6 mx-auto"><%= user.Birth %></div>
              </div>
              <hr>
              <div class="row my-3 ml-1">
                  <div class="col-md-3"><b>전화번호</b><br></div>
                  <div class="col-md-6 mx-auto"><%= user.Tel %></div>
              </div>
              <hr class="mt-1 bg-dark">
              <div align="center" class="my-auto">
                    <a class="btn btn-primary mr-3" href="/changeinfo">개인정보 수정</a>
                    <a class="btn btn-primary" href="/changepwd">비밀번호 변경</a>
              </div>
          </div>
          <div class="col-md-5 mRow">
              <h2>외주정보</h2>
              <hr class="mt-1 bg-dark">
              <% if(user.UserType == 'EE') { %>
                <% var A = 0, B = 0,C = 0;
                    for (var i = 0; i < app.length; i++) {
                    if (app[i].Status == 'A')
                        A++;
                    else if (app[i].Status == 'B')
                        B++;
                    else if (app[i].Status == 'C')
                        C++;
                    } %>
                <div class="row my-3 ml-1">
                    <div class="col-md-3"><b>매칭대기</b></div>
                    <div class="col-md-3 mx-auto"><%= A %></div>
                </div>
                <hr>
                <div class="row my-3 ml-1">
                    <div class="col-md-3"><b>매칭완료</b></div>
                    <div class="col-md-3 mx-auto"><%= B %></div>
                </div>
                <hr>
                <div class="row my-3 ml-1">
                    <div class="col-md-3"><b>외주완료</b></div>
                    <div class="col-md-3 mx-auto"><%= C %></div>
                </div>
                <hr>
                <div class="row my-3 ml-1">
                    <div class="col-md-3">&nbsp;
                    </div>
                </div>
                <hr class="my-1 bg-dark">
                <div align="center" class="my-3">
                    <a class="btn btn-primary" href="/ordered_list">수주내역 확인</a>
                </div>
              <% } else if (user.UserType == 'ER'){ %>
                <% var A = 0, B = 0, C = 0, D = 0;
                   for (var i = 0; i < order.length; i++) {
                      if (order[i].Status == 'A')
                          A++;
                      else if (order[i].Status == 'B')
                          B++;
                      else if (order[i].Status == 'C')
                          C++;
                      else if (order[i].Status == 'D')
                          D++;
                   } %>
                 <div class="row my-3 ml-1">
                     <div class="col-md-3"><b>모집 중</b></div>
                     <div class="col-md-3 mx-auto"><%= A %></div>
                 </div>
                 <hr>
                 <div class="row my-3 ml-1">
                     <div class="col-md-3"><b>매칭 중</b></div>
                     <div class="col-md-3 mx-auto"><%= B %></div>
                 </div>
                 <hr>
                 <div class="row my-3 ml-1">
                     <div class="col-md-3"><b>매칭완료</b></div>
                     <div class="col-md-3 mx-auto"><%= C %></div>
                 </div>
                 <hr>
                 <div class="row my-3 ml-1">
                     <div class="col-md-3"><b>외주완료</b></div>
                     <div class="col-md-3 mx-auto"><%= D %></div>
                 </div>
                 <hr class="my-1 bg-dark">
                 <div align="center" class="my-3">
                     <a class="btn btn-primary" href="/ordered_list">발주내역 확인</a>
                 </div>
              <% } %>
          </div>
       </div>
       <div class="row">
          <div class="col-md-11 mRow">
              <h2>알림</h2>
              <hr class="my-1 bg-dark">
              <div class="row my-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                           <th width="15%">No.</th>
                           <th>제목</th>
                           <th width="20%">날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% for(var i = 0; i < noti.length; i++) { %>
                          <tr>
                             <td><%= i+1 %></td>
                             <td><%if(noti[i].Status == '0') {%><i class="fa fa-fw  fa-bell" style="color: #fb0;"></i> <%} %>
                                <a id="<%= noti[i]._NID %>" data-toggle="modal" data-target="#notice" href=""><%= noti[i].Title%></a>
                             </td>
                             <td><%=dates[i]%></td>
                          </tr>
                       <% } %>
                    </tbody>
                </table>
              </div>
          </div>
          <% if (user.UserType == 'EE') { %>
          <div class="col-md-11 mRow">
              <h2>이력서</h2>
              <hr class="my-1 bg-dark">
              <% if (resume) { %>
                <div class="row ml-1 my-3">
                    <div class="col-md-3 mr-1" style="border-right:solid 1px #aaa"><b>대학구분</b>&nbsp;&nbsp;&nbsp;<%= resume.Course %></div>
                    <div class="col-md-3 mr-1" style="border-right:solid 1px #aaa"><b>학 부</b>&nbsp;&nbsp;&nbsp;<%= resume.Colleage %></div>
                    <div class="col-md-3"><b>학 과</b>&nbsp;&nbsp;&nbsp;<%= resume.Major %></div>
                </div>
                <hr>
                <div class="row ml-1 my-3">
                    <div class="col-md-2 my-auto"><b>자격증</b></div>
                    <div class="col-md-10">
                        <% var license = resume.License.split('%&');
                            for (var i = 0; i < license.length; i++) { %>
                              <% if (license[i]) { %>
                              <button class="btn btn-primary btn-sm m-1"><%= license[i] %></button>
                              <% } %>
                        <% } %>
                    </div>
                </div>
                <hr>
                <div class="row ml-1 my-3">
                    <div class="col-md-2 my-auto"><b>자기소개</b></div>
                    <div class="col-md-10">
                        <textarea rows="4" class="form-control" style="background:white;border:none;width:100%" disabled><%= resume.Content %></textarea>
                    </div>
                </div>
                <hr>
                <div class="row ml-1 my-3">
                    <div class="col-md-2 my-auto"><b>사진</b></div>
                    <div id="mImgs" class="col-md-10">
                      <% var imgUrls = resume.imageUrl.split('%&');
                      if(imgUrls[0]) {
                         for (var i = 0; i < imgUrls.length; i++) { %>
                           <img src="uploads/<%= imgUrls[i] %>" alt="">
                      <% }
                      } %>
                    </div>
                </div>
              <% } %>
              <hr class="my-1 bg-dark">
              <div align="center" class="my-3">
                  <a class="btn btn-primary" href="/resume">
                    <% if (resume) { %>이력서 수정<% } %>
                    <% if (!resume) { %>이력서 작성<% } %>
                  </a>
              </div>
          </div>
          <% } %>
       </div>
    </div>
    <% include ../lightBox.ejs %>
</body>
</html>
