<!DOCTYPE html>
<html>
<head>
    <% include ../nav/header.ejs %>
    <style>
      .card .table img {
          margin: 5px 10px;
          display: inline-block;
          width: 120px;
          height: 80px;
          border: solid 1px black;
      }
      .card .card-block {
          padding: 30px;
      }
      .card {
          height: 400px;
      }
      #dataTable_wrapper {
          margin: 0 !important;
      }
    </style>
</head>
<body class="fixed-nav sidenav-toggled" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <% include ../nav/nav-login.ejs%>
    </nav>
    <div class="container-fluid mt-6">
       <% include ./notice.ejs %>
       <table class="table">
          <tbody>
              <tr>
                 <td style="width: 45%;">
                    <div class="card">
                       <div class="card-block">
                          <h1 class="card-title mb-5">회원정보</h1>
                          <table class="table mb-5">
                             <tr>
                                <th>이름</th>
                                <td><%= user.Name %></td>
                             </tr>
                             <tr>
                                <th>생년월일</th>
                                <td><%= user.Birth %></td>
                             </tr>
                             <tr>
                                <th>전화번호</th>
                                <td><%= user.Tel %></td>
                             </tr>
                          </table>
                          <div align="center">
                              <a class="btn btn-primary mr-5" href="/changeinfo">개인정보 수정</a>
                              <a class="btn btn-primary ml-5" href="/changepwd">비밀번호 변경</a>
                          </div>
                       </div>
                    </div>
                 </td>
                 <td style="width: 45%;">
                    <div class="card">
                       <div class="card-block">
                          <h1 class="card-title mb-5">외주 정보</h1>
                           <% if(user.UserType == 'EE') { %>
                          <table class="table mb-5">
                            <% var A = 0,
                                   B= 0,
                                   C = 0;
                               for (var i = 0; i < app.length; i++) {
                                  if (app[i].Status == 'A' || app[i].Status == 'B')
                                      A++;
                                  else if (app[i].Status == 'C')
                                      B++;
                                  else if (app[i].Status == 'D')
                                      C++;
                               } %>
                             <tr>
                                <th>매칭대기</th>
                                <td><%= A %></td>
                             </tr>
                             <tr>
                                <th>매칭완료</th>
                                <td><%= B %></td>
                             </tr>
                             <tr>
                                <th>외주완료</th>
                                <td><%= C %></td>
                             </tr>
                          </table>
                          <div align="center">
                              <a class="btn btn-primary" href="/ordered_list" style="margin-right:40px;">수주내역 확인</a>
                          </div>
                           <% } else { %>
                          <table class="table">
                            <% var A = 0,
                                   B = 0,
                                   C = 0,
                                   D = 0;
                               for (var i = 0; i < order.length; i++) {
                                  if (order[i].Status == 'A')
                                      A++;
                                  else if (order[i].Status == 'B')
                                      B++;
                                  else if (order[i].Status == 'C')
                                      C++;
                                  else if (order[i].Status == 'D')
                                      D++;
                               } %>
                             <tr>
                                <th>모집 중</th>
                                <td><%= A %></td>
                             </tr>
                             <tr>
                                <th>매칭 중</th>
                                <td><%= B %></td>
                             </tr>
                             <tr>
                                <th>매칭완료</th>
                                <td><%= C %></td>
                             </tr>
                             <tr>
                                <th>외주완료</th>
                                <td><%= D %></td>
                             </tr>
                          </table>
                          <div align="center">
                              <a class="btn btn-primary" href="/ordered_list">발주내역 확인</a>
                          </div>
                           <% }%>
                       </div>
                    </div>
                 </td>
              </tr>
              <tr>
                 <td style="width: 45%;">
                    <div class="card" style="height:100%">
                       <div class="card-block">
                          <h1 class="card-title">알림</h1><br>
                          <table class="table" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                  <tr>
                                     <th>No.</th>
                                     <th>내용</th>
                                     <th>날짜</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <% for(var i=0; i<noti.length; i++) { %>
                                   <tr>
                                      <td><%= i+1 %></td>
                                      <td><a id="<%= noti[i]._NID %>" data-toggle="modal" data-target="#notice" href=""><%= noti[i].Title%></a>
                                          <%if(noti[i].Status == '0') {%><i class="fa fa-fw  fa-bell" style="color: #fb0;"></i> <%} %></td>
                                      <td><%=dates[i]%></td>
                                   </tr>
                                <% } %>
                              </tbody>
                          </table>
                       </div>
                    </div>
                 </td>
                <% if(user.UserType == 'EE') { %>
                 <td style="width: 45%;">
                    <div class="card" style="height:100%">
                       <div class="card-block">
                          <h1 class="mb-5">이력서</h1>
                          <% if (resume) { %>
                          <table class="table mb-5">
                             <tr>
                                <th>대학구분</th>
                                <td><%= resume.Course %></td>
                             </tr>
                             <tr>
                                <th>학부</th>
                                <td><%= resume.Colleage %></td>
                             </tr>
                             <tr>
                                <th>학과</th>
                                <td><%= resume.Major %></td>
                             </tr>
                             <tr>
                                <th>자격증</th>
                                <td>
                                    <% var license = resume.License.split('%&');
                                        for (var i = 0; i < license.length; i++) { %>
                                          <% if (license[i]) { %>
                                          <button class="btn mr-2 mb-2"><%= license[i] %></button><br>
                                          <% } %>
                                    <% } %>
                                </td>
                             </tr>
                             <tr>
                                <th>자기소개</th>
                                <td><%= resume.Content %></td>
                             </tr>
                             <tr>
                                <th>사진</th>
                                <td>
                                    <% var imgUrls = resume.imageUrl.split('%&');
                                    if(imgUrls[0]) {
                                       for (var i = 0; i < imgUrls.length; i++) { %>
                                         <img src="uploads/<%= imgUrls[i] %>" alt="">
                                    <% }
                                    } %>
                                </td>
                             </tr>
                          </table>
                          <% } %>
                          <div align="center">
                              <a class="btn btn-primary" href="/resume">
                                <% if (resume) { %>이력서 수정<% } %>
                                <% if (!resume) { %>이력서 작성<% } %>
                              </a>
                          </div>
                       </div>
                    </div>
                 </td>
                <% } %>
              </tr>
          </tbody>
       </table>
    </div>
</body>
</html>
