<!DOCTYPE html>
<html>
  <head>
      <% include ../nav/header.ejs %>
      <style>
          .container {
              position: relative;
              top:65px;
              left:55px;
          }
          .b {
              font-weight: bold;
          }
          .prefer a {
              width: 30px;
              height: 30px;
              padding: 0;
              margin: 0;
              vertical-align: middle;
          }
          #category {
              margin-bottom: 20px;
          }
          #header div:nth-child(n+2) {
              border: solid 1px #aaa;
          }
          #data {
            padding: 10px auto;
          }
          #data div:nth-child(n+2) {
            border: solid 1px #ccc;
            padding: 10px auto !important;
            vertical-align: middle;
          }
          #data p, #data a {
              display: block;
              margin-top: 1rem;
          }
      </style>
  </head>
  <body class="fixed-nav sidenav-toggled" id="page-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
          <% include ../nav/nav-login.ejs %>
      </nav>
      <div class="content-wrapper">
          <h1 style="margin: 10px;">&nbsp;<i class="fa fa-fw fa-eye"></i>발주수정</h1>
          <form action="/put?_method=PUT" method="POST">
             <table style="margin-top:20px; width: 95%;" align="center" class="table table-bordered table-hover text-center">
               <tr>
                  <td style="width:10%;">카테고리</td>
                  <td style="width:10%;">
                      <select name="Category">
                          <option value="<%= data.Category %>" selected><%= data.Category %></option>
                          <option value="기획">기획</option>
                          <option value="개발">개발</option>
                          <option value="디자인">디자인</option>
                          <option value="번역">번역</option>
                          <option value="사운드">사운드</option>
                          <option value="영상">영상</option>
                          <option value="기타">기타</option>
                      </select>
                  </td>
                  <td style="width:10%;">제목</td>
                  <td colspan="4"><input type="text" name="Title" style="width:100%;" value="<%= data.Title %>" /></td>
                  <td style="width:20%;"></td>
               </tr>
               <tr>
                  <td>모집인원</td>
                  <td><input type="number" name="MaxNum" value="<%= data.MaxNum %>" min="1" max="5" style="width:50%" />명</td>
                  <td>급여</td>
                  <td><input type="number" name="Cost" value="<%= data.Cost %>" step="10000" min="10000" style="width:50%" />원</td>
                  <td style="width:10%;">기간</td>
                  <td>
                    <select name="Period">
                      <option value="<%= data.Period %>" selected><%= data.Period %></option>
                      <option value="1주 이내">1주 이내</option>
                      <option value="1달 이내">1달 이내</option>
                      <option value="3개월 이내">3개월 이내</option>
                      <option value="6개월 이내">6개월 이내</option>
                      <option value="6개월 이상">6개월 이상</option>
                    </select>
                  </td>
                  <td style="width:10%;">학부제한</td>
                  <td>
                    <select name="Colleage">
                      <option value="<%= data.Colleage %>" selected><%= data.Colleage %></option>
                      <option value="무관">무관</option>
                      <option value="경영대학">경영대학</option>
                      <option value="사회과학대학">사회과학대학</option>
                      <option value="바이오나노대학">바이오나노대학</option>
                      <option value="보건과학대학">보건과학대학</option>
                      <option value="인문대학">인문대학</option>
                      <option value="법과대학">법과대학</option>
                      <option value="공과대학">공과대학</option>
                      <option value="IT대학">IT대학</option>
                      <option value="예술대학">예술대학</option>
                      <option value="의과대학">의과대학</option>
                      <option value="한의과대학">한의과대학</option>
                      <option value="약학대학">약학대학</option>
                    </select>
                  </td>
               </tr>
               <tr>
                  <td>우대조건</td>
                  <td colspan="3">
                    <ul class="prefer text-white" style="list-style:none;margin: 0 !important;padding:0 !important;">
                      <% if (preference[0] == '') { %>
                        <li style="margin-bottom:5px;">
                          <input type="text" name="Preference" style="width: 90%;" placeholder="ex) 정보처리기능사 자격증 보유" />
                          <a class="btn btn-primary btn-sm">+</a>
                        </li>
                      <% } %>
                    </ul>
                  </td>
                  <td colspan="4"></td>
               </tr>
               <tr>
                  <td>내용</td>
                  <td colspan="7"><textarea name="Content" style="width:100%;height:200px;"><%= data.Content %></textarea></td>
               </tr>
             </table>
             <div align="center">
                <input type="submit" class="btn btn-success btn-lg" style="margin-right:30px" value="등록"></input>
                <a class="btn btn-danger btn-lg" href="/list">취소</a>
             </div>
        </form>
    </div>
    <script>
      var count = <%= preference.length %>;
      var liHtml = '<li style="margin-bottom:5px;">'
                + '<input type="text" name="Preference" style="width: 90%;" placeholder="ex) 정보처리기능사 자격증 보유" />'
                + ' <a class="btn btn-primary btn-sm">+</a></li>'
      console.log(count);
      console.log('<%= preference%>');
      <% for (var i = 0; i < preference.length; i++) { if (preference[0]) { %>
          $(".prefer").append(liHtml);
          $(".prefer li input").eq(<%= i %>).val("<%= preference[i] %>");
          <% if (i < preference.length - 1) { %>
            $(".prefer li a").eq(<%= i %>).text('-');
          <% } %>
      <% } } %>

      $(".prefer").on('click', 'li a', function() {
          if ($(this).text() == '+' && $(this).prev().val() != '' && count < 3) {
              $(this).prev().attr('readonly',true);
              $(this).text('-');
              $(".prefer").append(liHtml);
              count++;
          } else if ($(this).text() == '-' && count > 1) {
              $(this).siblings().val('');
              $(this).siblings().attr('readonly',false);
              $(this).text('+');
              $(this).parent().remove();
              count--;
          }
      });

      var Category = $("select[name=Category]");
      var Title = $("input[name=Title]");
      $("input[type=submit]").on('click', function(e) {
          if (Category.val() == '' || Title.val() == '') {
              e.preventDefault();
              alert('입력하지 않은 양식이 있습니다!');
          }
      });
    </script>
  </body>
</html>
