<!DOCTYPE html>
<html>
  <head>
      <% include ../nav/header.ejs %>
      <style>
          .container {
              position: relative;
              top:65px;
              left:55px;
          }
          #Img img {
              width: 200px;
              height: 150px;
              margin: 10px;
              border: solid 1px black;
          }
          .row img {
              width: 60px;
              height: 60px;
          }
          .row h3 img {
              width: 40px;
              height: 40px;
          }
          .row p {
              margin-top: 10px;
              font-size: 1.2rem;
          }
          .pa {
              font-size: 0.8rem !important;
              color: gray;
              display: inline;
          }
          .pb {
              font-size: 0.8rem !important;
              color: black;
              display: inline;
          }
          .container-fluid hr {
              width: 95% !important;
              border: solid 0.5px #555;
          }
      </style>
  </head>
  <body class="fixed-nav" id="page-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
          <% include ../nav/nav-login.ejs %>
      </nav>
      <div class="container-fluid">
          <div class="row mt-5 ml-5">
              <h4>발주정보 상세보기</h4><small class="mx-3 mt-2">등록일: <%= date %></small>
              <%if(data.Status == 'A'){ %><h5 id="stat">[모집 중]</h5><% } %>
              <%if(data.Status != 'A'){ %><h5>[마감]</h5><% } %>
          </div>
          <hr>
          <div class="row my-4">
              <h3 class="mx-auto my-auto">
                <%= data.Title %>
              </h3>
          </div>
          <hr style="border: 0.5px solid #bbb">
          <div class="row my-4">
              <div class="col-md-8">
                  <div class="row">
                      <div class="col-md-2 text-center ml-auto">
                          <img src="imgs/icons-info/category.png" alt="">
                          <p><%= data.Category %></p>
                      </div>
                      <div class="col-md-2 text-center">
                          <img src="imgs/icons-info/cost.png" alt="">
                          <p><%= data.Cost %>원</p>
                      </div>
                      <div class="col-md-2 text-center">
                          <img src="imgs/icons-info/maxNum.png" alt="">
                          <p id="reqNum"><%= reqNum %>/<%= data.MaxNum %></p>
                      </div>
                      <div class="col-md-2 text-center">
                          <img src="imgs/icons-info/period.png" alt="">
                          <p><%= data.Period %></p>
                      </div>
                      <div class="col-md-2 text-center mr-auto">
                          <img src="imgs/icons-info/colleage.png" alt="">
                          <p><%= data.Colleage %></p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4" style="border-left:1px solid #bbb">
                  <h4>발주자 정보</h5>
                  <p class="pa">발주자:</p> <p class="pb"><%= user.Name %></p><br>
                  <p class="pa">전화:</p> <p class="pb"><%= user.Tel %></p><br>
                  <p class="pa">이메일:</p> <p class="pb"><%= user.Email %></p>
              </div>
          </div>
          <hr style="border: 0.5px solid #bbb">
          <div class="row my-4">
              <div class="col-md-2 ml-5 my-auto">
                  <h4>우대조건</h4>
              </div>
              <div class="col-md-6 mr-auto" style="border-left:1px solid #bbb">
                  <ul class="prefer" style="list-style:none;margin: 0 !important;padding:0 !important;">
                      <li style="margin-bottom: 5px;text-align:left;">
                        <% for (var i = 0; i < preference.length; i++) { %>
                          <% if (preference[i] != '') { %>
                              <input type="checkbox" disabled /> <%= preference[i] %><br>
                          <% } %>
                        <% } %>
                      </li>
                  </ul>
              </div>
          </div>
          <hr>
          <div class="row my-4">
              <div class="col-md-2 ml-5 my-auto">
                  <h4>내용</h4>
              </div>
              <div class="col-md-8 mr-auto" style="border-left:1px solid #bbb">
                  <textarea rows="5" style="width:100%;border:none" readonly><%= data.Content %></textarea>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="btns text-white my-5 mx-auto">
                 <% if (data._UID == session._UID) { %>
                     <% if (data.Status == 'A') { %>
                         <% if (apps[0]) { %>
                           <a id="close" class="btn btn-success mr-3">마감</a>
                         <% } %>
                         <% if (!apps[0]) { %>
                           <a class="btn btn-primary mr-3" href="/put/<%= data._OID %>">수정</a>
                           <a id="delete" class="btn btn-danger mr-3">삭제</a>
                         <% } %>
                     <% } else if (data.Status == 'B') { %>
                         <a id="match" class="btn btn-primary mr-3" data-toggle="modal" data-target="#myMatch">매칭</a>
                     <% } %>
                 <% } else if (session.UserType == 'EE') { %>
                   <% if (!isReq && data.Status == 'A') { %>
                         <a class="btn btn-success mr-3" data-toggle="modal" data-target="#myModal" href="">수주요청</a>
                   <% } else if (data.Status == 'C') { %>
                         <a class="btn btn-danger mr-3"data-toggle="modal" data-target="#myProgress" href="">진척도 작성</a>
                   <% } else if (isReq && data.Status == 'A'){ %>
                         <a id="cancel" class="btn btn-danger mr-3">요청취소</a>
                   <% } %>
                 <% } %>
                 <a class="btn btn-info" onclick="location.href=document.referrer">목록</a>
              </div>
          </div>
     </div>
     <% if (session.UserType == 'EE') { %>
       <% include ./request.ejs %>
       <% include ../progress/post.ejs %>
     <% } else if(session.UserType == 'ER') { %>
       <% include ../match/match.ejs %>
     <% } %>
     <script>
        var req = <%= reqNum %>;
         $("a[data-target='#myModal']").on('click', function(e) {
             $.get('/req/resume', function(data) {
                 if (!data) {
                     location.href = '/resume';
                     alert('이력서가 없습니다!');
                 } else {
                     $.get('/req/check/<%= data.Colleage %>', function(data) {
                         if (data) {
                           setTimeout(function() {
                               $("#myModal").modal('hide');
                               alert('학부조건을 만족하지 못합니다!');
                           }, 480);
                           return;
                         }
                     });
                 }
             });
         });

         $(".btns").on('click', '#cancel', function(e) {
             if (confirm('정말로 취소하시겠습니까?')) {
                 $.post("/req/<%= data._OID %>?_method=DELETE");
                 $(this).parent().prepend('<a class="btn btn-success mr-3" data-toggle="modal" data-target="#myModal">수주요청</a>');
                 $(this).remove();
                 $("#reqNum").text(--req + "/" + <%= data.MaxNum %>);
             }
         });

         $("#close").on('click', function(e) {
             if (confirm('정말로 마감하시겠습니까?'))
                 $.post('/close/<%= data._OID %>?_method=PUT', function(data) {
                     if(data) {
                         $("#close").parent().prepend('<a id="match" class="btn btn-primary mr-3" data-toggle="modal" data-target="#myMatch">매칭</a>');
                         $("#close").remove();
                         $("#stat").text('[마감]');
                         alert('마감되었습니다!');
                     }
                 });
         });
         $("#delete").on('click', function(e) {
             if (confirm('정말로 삭제하시겠습니까?'))
                 $.post("/info/<%= data._OID %>?_method=DELETE", function(data) {
                     if(data)
                         location.href = '/list';
                 });
         });
     </script>
  </body>
</html>
