<!DOCTYPE html>
<html>
  <head>
      <% include ../nav/header.ejs %>
  </head>
  <body class="fixed-nav sidenav-toggled" id="page-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
          <% include ../nav/nav-login.ejs %>
      </nav>
      <div class="container-fluid">
          <div class="card mb-3 mt-3">
              <div class="card-header"><h3><%= category %></h3></div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>급여</th>
                        <th>게시일</th>
                        <th>인원</th>
                        <th>상태</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(data) { %>
                      <% for(var i = 0; i < data.length; i++) { %>
                      <tr>
                        <td><%= i + 1 %></td>
                        <td><%= data[i].Category %></td>
                        <td><a href="/info/<%= data[i]._OID %>"><%= data[i].Title %></a></td>
                        <td><%= data[i].Cost %></td>
                        <td><%= date[i] %></td>
                        <td><%= reqNum[i] %>/<%= data[i].MaxNum %></td>
                        <td>
                          <%if(data[i].Status == 'A'){ %>모집중  <% } %>
                          <%if(data[i].Status != 'A'){ %>마감    <% } %>
                        </td>
                      </tr>
                      <% } %>
                      <% } %>
                    </tbody>
                  </table>
                  <% if (session.UserType == "ER") { %>
                  <a class="btn btn-primary mt-3 mr-3" style="float:right" href="/post">발주 등록</a>
                  <% } %>
                </div>
              </div>
          </div>
      </div>
  </body>
</html>
