<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:350px">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title ml-2">수주요청</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form method="POST" action="req/<%= data._OID %>">
              <div class="row my-3 ml-1">
                  <div class="col-md-3"><b>제목</b></div>
                  <div class="col-md-9"><%= data.Title %></div>
              </div>
              <div class="row my-3 ml-1">
                  <div class="col-md-3"><b>급여</b></div>
                  <div class="col-md-9"><%= data.Cost %>원</div>
              </div>
              <div class="row my-3 ml-1">
                  <div class="col-md-3"><b>기간</b></div>
                  <div class="col-md-9"><%= data.Period %></div>
              </div>
              <div class="row my-3 ml-1">
                  <div class="col-md-12">
                    <% if (preference[0]) { %>
                     <b class="mt-3 mb-1">해당사항을 체크해주세요!</b><br>
                    <% } %>
                    <% for (var i = 0; i < preference.length; i++) { %>
                     <% if (preference[i]) { %>
                      <input type="checkbox" name="Preference" value="<%= preference[i] %>"/> <%= preference[i] %><br>
                     <% } %>
                    <% } %>
                   </div>
              </div>
             <div class="modal-footer text-white">
                <a id="req" class="btn btn-success ml-auto mr-3">요청</a>
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">취소</button>
             </div>
          </form>
        </div>
      </div>
    </div>
</div>
<script>
    $("#myModal #req").on('click', function(e) {
        $("#myModal").modal('hide');
        $.post('/req/<%= data._OID %>', function(data) {
            $("a[data-target='#myModal']").remove();
            $(".btns").prepend('<a id="cancel" class="btn btn-danger mr-3">요청취소</a>');
            $("#reqNum").text(++req + "/" + <%= data.MaxNum %>);
        });
    });
</script>
