<div class="modal fade" id="myMatch" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">매칭</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form>
                  <div class="text-left">
                    <div class="row">
                        <div class="col-md-2">
                            <b>이름:</b><br><p id="Name"></p>
                        </div>
                        <div class="col-md-5">
                            <b>이메일:</b><br><p id="Email"></p>
                        </div>
                        <div class="col-md-5">
                            <b>전화번호:</b></br><p id="Tel"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>대학:</b><br><p id="Course"></p>
                        </div>
                        <div class="col-md-5">
                            <b>학부:</b><br><p id="Colleage"></p>
                        </div>
                        <div class="col-md-5">
                            <b>학과:</b></br><p id="Major"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>보유 자격증:</b><div id="License"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>자기소개:</b><br><textarea id="Content" style="width:100%" rows="4" disabled></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-img">
                            <b>사진:</b><br><div id="Img"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-img">
                            <b>우대조건:</b><br><div id="Prefer"></div>
                        </div>
                    </div>
                  </div>
               </form>
            </div>
            <div id="choice" class="modal-footer mx-auto text-white">
                <a class="btn btn-success mr-3">승인</a>
                <a class="btn btn-danger">거절</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var name = $("#Name");
        var email = $("#Email");
        var tel = $("#Tel");
        var course = $("#Course");
        var colleage = $("#Colleage");
        var major = $("#Major");
        var license = $("#License");
        var content = $("#Content");
        var img = $("#Img");
        var prefer = $("#Prefer");
        var forms = [name, email, tel, course, colleage, major, license,
                    content, img, prefer];

        var apps, users, licenses, imgs, checkPres;
        var needNum, reqNum; // 필요 인원 수, 남은 지원자 수

        $(".btns").on('click', '#match', function(e) {
            doMatch();
        });

        var doMatch = function() {
            // 초기화
            for (var i = 0; i < forms.length; i++) {
                forms[i].html('');
            }

            $.get('/ordered_list/req/<%= data._OID %>', function(data) {
                reqNum = data.cnt;  // 남은 지원인원
            });

            $.get('/ordered_list/complete/<%= data._OID %>', function(data) {
                needNum = <%= data.MaxNum %> - data.cnt;  // 남은 모집인원
            });

            $.get('/match/' + <%= data._OID %>, function(data) {
                  apps = data.apps;
                  users = data.users;
                  for (var i = 0; i < apps.length; i++) {
                      for (var j = 0; j < users.length; j++) {
                          if (apps[i]._UID == users[j]._UID) {  // app에 해당하는 user이면
                              name.text(users[j].Name);
                              email.text(users[j].Email);
                              tel.text(users[j].Tel);
                              course.text(users[j].Course);
                              colleage.text(users[j].Colleage);
                              major.text(users[j].Major);
                              content.text(users[j].Content);
                              $("#choice").children().attr('id', apps[i]._AID);

                              licenses = (users[j].License) ? users[j].License.split('%&') : '';
                              license.html('');
                              if (Array.isArray(licenses)) {
                                  for (var k = 0; k < licenses.length; k++) {
                                      license.append("<a class='btn btn-primary text-white m-2'>" + licenses[k] +"</a>");
                                  }
                              } else if (licenses)
                                  license.append("<a class='btn btn-primary text-white m-2'>" + licenses + "</a>");

                              imgs = (users[j].imageUrl) ? users[j].imageUrl.split('%&') : '';
                              img.html('');
                              if (Array.isArray(imgs)) {
                                  for (var k = 0; k < imgs.length; k++) {
                                      img.append("<img src='uploads/" + imgs[k] + "' class='mr-3'></img>");
                                  }
                              } else if (imgs)
                                  img.append("<img src='uploads/" + imgs + "' class='mr-3'></img>");

                              checkPres = (apps[i].CheckPre) ? apps[i].CheckPre.split('%&') : '';
                              prefer.html('');
                              if (Array.isArray(checkPres)) {
                                  for (var k = 0; k < checkPres.length; k++) {
                                      prefer.append("<input type='checkbox' class='my-2' checked disabled />"+ checkPres[k] + "<br>");
                                  }
                              } else if (checkPres)
                                  prefer.append("<input type='checkbox' class='my-2' checked disabled />"+ checkPres + "<br>");

                              return;
                          }
                      }
                  }
            });
        }

        $("#choice a:first-child").on('click', function() {
            if(confirm('정말로 승인하시겠습니까?')) {
                $.post('/match?_method=PUT', {id: $(this).attr('id'), oid: <%= data._OID %>, needNum: needNum-1, reqNum: reqNum-1});
                if (needNum > 1 && reqNum > 1) {
                    doMatch();
                } else if (reqNum == 1) {
                    alert('더 이상 지원자가 없습니다!');
                    location.reload();
                } else if (needNum == 1) {
                    alert('매칭이 완료되었습니다!');
                    location.reload();
                }
            }
        });

        $("#choice a:last-child").on('click', function() {
            if(confirm('정말로 거절하시겠습니까?')) {
                $.post('/match?_method=DELETE', {id: $(this).attr('id'), oid: <%= data._OID %>, reqNum: reqNum-1});
                if (reqNum > 1) {
                    $("#reqNum").text(--req + "/" + <%= data.MaxNum %>);
                    doMatch();
                } else {
                    alert('더 이상 지원자가 없습니다!');
                    location.reload();
                }
            }
        });
    });
</script>
